/*Matrix Green: #00FF00*/
/*Dark Charcoal: #333333*/
/*Code Blue: #007BFF*/
/*Monochrome White: #FFFFFF*/
/*Cryptic Purple: #9900CC*/
/*Neon Teal: #00FFFF*/

/*GOOGLE FONTS*/
/*font-family: 'IBM Plex Mono', monospace; */
/*font-family: 'Sora', sans-serif;*/


/* Reset some default styles to ensure consistent behavior */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Apply a box-sizing border-box to all elements for more predictable sizing */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Set a base font size and line height for better readability */
body {
    color: #00FF00;
    background-color: #333333;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
}

/* Add a max-width to prevent content from stretching too wide on larger screens */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*Navigation bar*/

.navbar { /* Whole Division */
    color: black;
    background-color: #007BFF;
    text-align: right;
    margin: 0 0 1rem 0;
    padding: 0.3rem 1rem;
}

.navbar>ul { /* The unorganized list inside */
    text-align: left;
}

.navbar>ul>li { /* each list item*/
    list-style-type: none;
    transition-duration: 0.4s;
}

.navbar>ul>li:hover { /* list items on hover*/
    color: white;
    transition-duration: 0.4s;
}

/*Header section*/

#headerDivision { /* Whole division*/
    text-align: center;
    margin-bottom: 2rem;
}

#headerDivision>img { /* Profile pic */
    max-width: 55vw;
}

#headerDivision>h1 { /*Presentation title*/
    font-size: 2rem;
    font-weight: 800;
}

#headerDivision>h3 { /* presentation text*/
    font-size: 1.3rem;
    font-weight: 400;
}


/*"Browser Tabs" Section*/

#tabSection { /* Whole section */
    display: flex;
    flex-wrap: wrap;
}

#tabSection>h6 { /* Individual categories */
    background-color: #00FFFF;
    border: 1px solid black;
    color: black;
    flex-grow: 1;
    font-size: calc(100%/1.5);
    max-width: calc(100%/3);
    padding: 0.2rem;
    transition-duration: 0.4s;

}

#tabSection>h6:hover {
    background-color: #007BFF;
    transition-duration: 0.4s;
}

/*Browser Tabs "Skills" Section*/

#skillBoxList {
    margin: 0 auto 0 1rem;
}

/*Browser Tabs "Work Experience" Section*/

#workExperienceBoxList {

}