/*https://colorhunt.co/palette/053b50176b8764ccc5eeeeee*/

/*GOOGLE FONTS*/
/*font-family: 'IBM Plex Mono', monospace; */
/*font-family: 'Sora', sans-serif;*/

.fa-solid {
    color: #00FF00;
}


/* Reset some default styles to ensure consistent behavior */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* Apply a box-sizing border-box to all elements for more predictable sizing */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Set a base font size and line height for better readability */
body {
    color: #EEEEEE;
    background-color: #053B50;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
}

/* Add a max-width to prevent content from stretching too wide on larger screens */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*Navigation bar*/

.navbar { /* Whole Division */
    color: #053B50;
    background-color: #176B87;
    text-align: right;
    margin: 0 0 1rem 0;
    padding: 0.3rem 1rem;
}

.navbar>ul { /* The unorganized list inside */
    text-align: left;
}

.navbar>ul>li { /* each list item*/
    list-style-type: none;
    transition-duration: 0.4s;
}

.navbar>ul>li:hover { /* list items on hover*/
    color: #64CCC5;
    cursor: pointer;
    transition-duration: 0.4s;
}

/*Header section*/

#headerDivision { /* Whole division*/
    text-align: center;
    margin-bottom: 2rem;
}

#headerDivision>img { /* Profile pic */
    max-width: 55vw;
}

#headerDivision>h1 { /*Presentation title*/
    font-size: 2rem;
    font-weight: 800;
}

#headerDivision>h3 { /* presentation text*/
    font-size: 1.3rem;
    font-weight: 400;
}


/*"Browser Tabs" Section*/

#tabSection { /* Whole section */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

#tabSection>h6 { /* Individual categories */
    background-color: #176B87;
    border: 1px solid black;
    color: #EEEEEE;
    flex-grow: 1;
    font-size: calc(100%/1.5);
    max-width: calc(100%/3);
    padding: 0.2rem;
    transition-duration: 0.4s;

}

#tabSection>h6:hover {
    background-color: #64CCC5;
    cursor: pointer;
    transition-duration: 0.4s;
}

/*Browser Tabs "Skills" Section*/


#skillBoxList>img {
    max-width: 90vw;
}

/*Browser Tabs "Work Experience" Section*/

#workExperienceBoxList { /* whole box*/

}

#workExperienceBoxList>h6 { /* title boxes */
    color: #EEEEEE;
    margin-bottom: 1rem;
    padding: 0.3rem;
    transition-duration: 0.3s;
}

#workExperienceBoxList>h6:hover {
    background-color: rgba(0, 123, 255, 0.47);
    cursor: pointer;
    transition-duration: 0.3s;
}

#workExperienceBoxList>h6>ul {
    margin-top: 2rem;
}

#workExperienceBoxList>h6>ul>li {
    list-style-type: none;
}

#workExperienceBoxList>h6>ul>.list_separator {
    border-color: #00FF00;
    max-width: 75%;
    margin-left: 0;
}

